@model EFCRUD.DAL.Kullanici


<form action="/KullaniciYonetimi/Create" method="post" >

    AD: @Html.EditorFor(m => m.Ad)

    SOYAD:    @Html.EditorFor(m => m.Soyad)

    EMAİL:  @Html.EditorFor(m => m.Email)

    SİFRE:  @Html.EditorFor(m => m.Sifre)



     ŞEHİR : @Html.DropDownList("IlId")  

    <button type="submit">Kaydet</button>
</form>